//A template that is used for buttons,anchor, submit button
%btn
{
   background-color: $linkbtn-bgcolor;
   color: $linkbtn-fgcolor;
   padding:5px;
   cursor: pointer;
}

//Here we style the class btn
.btn
{
   @extend %btn;
}

input[type=submit]
{
   @extend %btn;
   padding: 12px 20px;
   border: none;
   float: right;
   margin-top: 5px;
}

a
{
  @extend %btn;
  text-decoration: none;
  padding:5px;
}


.reset
{
   @extend %btn;
   float: right;
   padding: 12px 20px;
   margin-right: 5px;
}